*,
body,
html {
  margin: 0;
  padding: 0;
  font-family: "BR Firma", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-snap-align: center;
}

body,
html {
  overflow-x: hidden;
}

section {
  padding: 25vw 4vw;
}

h1 {
  font-size: 8vw;
  font-weight: bold;
  color: #001d45;
}

p {
  font-size: 3.5vw;
  color: #919191;
}

a {
  font-size: 3.5vw;
  text-decoration: none;
  color: #005cd8;
}

button {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 4vw 8vw;
  font-size: 3.5vw;
  border: solid 0px;
  background-color: #005cd8;
  color: white;
  border-radius: 5px;
  -webkit-box-shadow: #005cd8 0px 0.5vw 1.5vw;
          box-shadow: #005cd8 0px 0.5vw 1.5vw;
}

button:hover {
  -webkit-box-shadow: #005cd8 0px 0.4vw 1.4vw;
          box-shadow: #005cd8 0px 0.4vw 1.4vw;
  cursor: pointer;
}

button:active {
  background-color: #005bd5;
  -webkit-box-shadow: #005cd8 0px 0vw 0.1vw;
          box-shadow: #005cd8 0px 0vw 0.1vw;
}

.logo {
  font-size: 5vw;
  font-weight: 600;
  color: #001d45;
}

.icon {
  width: 5vw;
  height: 5vw;
}

.social-links {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4vw;
}

.social-links .social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #001d45;
  color: white;
  width: 12vw;
  height: 12vw;
  border-radius: 50%;
}

.social-links .social-link .icon {
  width: 50%;
  height: 50%;
}

.social-links .social-link.twitter {
  background-color: #1da1f2;
}

.social-links .social-link.github {
  background-color: #333;
}

.social-links .social-link.linkedin {
  background-color: #0077b5;
}

.social-links .social-link:hover {
  -webkit-filter: contrast(0.7);
          filter: contrast(0.7);
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3vw;
}

.input-container {
  width: 100%;
  font-size: 3.5vw;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  position: relative;
}

.input-container input {
  width: 100%;
  font-size: inherit;
  padding: 3vw 5vw;
  border: solid 1px #919191;
  border-radius: 5px;
  background-color: white;
  color: #001d45;
  font-size: 3.5vw;
  -webkit-transition: inherit;
  transition: inherit;
}

.input-container label {
  pointer-events: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  top: 4vw;
  left: 5vw;
  font-size: inherit;
  color: #919191;
  -webkit-transition: inherit;
  transition: inherit;
}

.input-container label .text {
  background-color: white;
  font-size: inherit;
  color: inherit;
  width: inherit;
}

.input-container .error {
  display: none;
  margin: 1vw 0;
  font-size: 3vw;
  color: #e85555;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1vw;
}

.input-container .error .icon {
  width: 4vw;
  height: 4vw;
}

.input-container:focus-within input {
  outline: none;
  border-color: #005cd8;
}

.input-container:focus-within label {
  color: #005cd8;
  font-size: 2.5vw;
}

.input-container:focus-within label .text {
  -webkit-transform: translateY(-5.5vw);
          transform: translateY(-5.5vw);
}

.input-container.filled input {
  outline: none;
}

.input-container.filled label {
  font-size: 2.5vw;
}

.input-container.filled label .text {
  -webkit-transform: translateY(-5.5vw);
          transform: translateY(-5.5vw);
}

.input-container.error input {
  border-color: #e85555;
}

.input-container.error label {
  color: #e85555;
  font-size: 2.5vw;
}

.input-container.error label .text {
  -webkit-transform: translateY(-5.5vw);
          transform: translateY(-5.5vw);
}

.input-container.error .error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.textarea-container {
  width: 100%;
  font-size: 3.5vw;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  position: relative;
}

.textarea-container textarea {
  width: 100%;
  font-size: inherit;
  padding: 3vw 5vw;
  border: solid 1px #919191;
  border-radius: 5px;
  background-color: white;
  color: #001d45;
  font-size: 3.5vw;
  -webkit-transition: inherit;
  transition: inherit;
}

.textarea-container label {
  pointer-events: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  top: 4vw;
  left: 5vw;
  font-size: inherit;
  color: #919191;
  -webkit-transition: inherit;
  transition: inherit;
}

.textarea-container label .text {
  background-color: white;
  font-size: inherit;
  color: inherit;
  width: inherit;
}

.textarea-container .error {
  display: none;
  margin: 1vw 0;
  font-size: 3vw;
  color: #e85555;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1vw;
}

.textarea-container .error .icon {
  width: 4vw;
  height: 4vw;
}

.textarea-container:focus-within textarea {
  outline: none;
  border-color: #005cd8;
}

.textarea-container:focus-within label {
  color: #005cd8;
  font-size: 2.5vw;
}

.textarea-container:focus-within label .text {
  -webkit-transform: translateY(-5.5vw);
          transform: translateY(-5.5vw);
}

.textarea-container.filled textarea {
  outline: none;
}

.textarea-container.filled label {
  font-size: 2.5vw;
}

.textarea-container.filled label .text {
  -webkit-transform: translateY(-5.5vw);
          transform: translateY(-5.5vw);
}

.textarea-container.error textarea {
  border-color: #e85555;
}

.textarea-container.error label {
  color: #e85555;
  font-size: 2.5vw;
}

.textarea-container.error label .text {
  -webkit-transform: translateY(-5.5vw);
          transform: translateY(-5.5vw);
}

.textarea-container.error .error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.submit-container button {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.submit-container button .text {
  -webkit-box-flex: 8;
      -ms-flex: 8;
          flex: 8;
}

.submit-container button .icon {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
/*# sourceMappingURL=style.css.map */