$primary1: #001D45;
$primary2: #005CD8;
$grey1: #ADADAD;
$danger: #E85555;
$success: #5CB85C;
$warning: #F0AD4E;


.container{
    height: 100vh;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    img{
        margin: 0 auto;
        width: 50%;
        height: auto;
        max-width: 240px;
    }

    h1{
        font-size: 1.5em;
        font-weight: bold;
        margin-top: 3em;
    }
    p{
        margin-top: .5em;
        font-size: 1em;
    }

    .social-links{
        margin-top: 5em;
    }
}